* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  #nav-bar {
    position: sticky !important;
    top: 0;
    z-index: 10;
  }
  .navbar {
    background-image: linear-gradient(to right, #808080, #838381);
    padding: 0.5% 6% !important;
  }
  .navbar-brand img {
    height: 40px;
    padding-left: 20px;
  }
  .navbar-nav li {
    padding: 0 10px;
  }
  .navbar-nav li a {
    color: #fff !important;
    font-family: 600;
  }
  .fa-bars {
    color: #fff;
    font-size: 30px !important;
  }
  .navbar-toggler {
    outline: none !important;
  }